* {
  margin: 0px;
  padding: 0px;
}

.SignUp-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signup-input {
  width: 200px;
  height: 50px;
  padding-left: 5px;
  font-size: medium;
}

.signup-p {
  font-size: small;
  color: red;
}

.signup-label {
  font-size: x-large;
  font-weight: bold;
}

.signup-button {
  width: 200px;
  height: 50px;
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.verify-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.verify-btn-div {
  justify-self: center;
}

.verify-btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: large;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid rgb(22, 90, 200);
  border-top-color: rgb(53, 135, 235);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.hide {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 20px 10px 20px 10px;
}

.header-list-flex {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.btns-div {
  list-style: none;
  display: flex;
  gap: 0px;
  border: 2px solid;
  border-radius: 50px;
  background-color: black;
}

.header-btn {
  border: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}

.signup-btn {
  background-color: white;
  color: black;
  transition: 0.1s ease linear;
}

.afterclick-loginClick-signup-btn {
  background-color: black;
  color: white;
  transition: 0.1s ease linear;
}

.login-btn {
  background-color: black;
  color: white;
  transition: 0.1s ease linear;
}

.afterclick-login-btn {
  background-color: white;
  color: black;
  transition: 0.1s ease linear;
}

.header-list-flex > li {
  list-style: none;
}

.home-grid {
  display: grid;
  grid-template-columns: 15% 85%;
  border: 1px solid black;
}

.Home-sidebar {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Main-content {
  display: flex;
  justify-content: space-around;
}

.Main-content > div > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.Main-content-head {
  display: flex;
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel p:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.home-main-content {
  height: 100vh;
}

.profile-image {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}

.profile-box {
  height: fit-content;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 5;
  right: 0;
  overflow-x: hidden;
  background-color: rgb(93, 88, 88);
}

.profile-box p {
  color: white;
}

.closeBtn {
  border: none;
  background-color: transparent;
  color: white;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
}

th {
  padding: 5px 10px 5px 10px;
}

.form-signup-login {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-signup-login > div > label {
  font-size: x-large;
  letter-spacing: 1px;
}

.form-signup-login > div > button {
  padding: 20px 60px 20px 60px;
  border: 1px solid;
  border-radius: 30px;
  background-color: white;
  font-size: large;
  letter-spacing: 2px;
  cursor: pointer;
}

.form-signup-login > div > button:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease linear;
}

.form-signup-login > div > input {
  width: 230px;
  height: 50px;
  text-align: center;
}

.Login-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
